docs/n8n_workflow_emelia-crm.txt
{
  "nodes": [
    {
      "parameters": {
        "campaignId": "69eb1cca5033df0a8663a88e",
        "events": [
          "replied",
          "bounced",
          "opened",
          "sent",
          "unsubscribed"
        ]
      },
      "type": "n8n-nodes-base.emeliaTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -592
      ],
      "id": "e15b2cae-7e77-4d9c-91c0-066e1c5e24ed",
      "name": "Emelia Trigger1",
      "webhookId": "df41b070-7323-4ddf-b293-bf135c1018b6",
      "credentials": {
        "emeliaApi": {
          "id": "f3Q24MOVU6pk1vzC",
          "name": "Emelia account"
        }
      }
    },
    {
      "parameters": {
        "campaignId": "69ebb7281762b60a8169f625",
        "events": [
          "replied",
          "opened",
          "bounced",
          "sent",
          "unsubscribed"
        ]
      },
      "type": "n8n-nodes-base.emeliaTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -416
      ],
      "id": "bc71083e-4844-4794-a6ec-726889ae50d6",
      "name": "Emelia Trigger",
      "webhookId": "e96e1d8d-509a-4b5e-88b3-40ef0dd2fe0c",
      "credentials": {
        "emeliaApi": {
          "id": "f3Q24MOVU6pk1vzC",
          "name": "Emelia account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst email = d.contact?.email || d.email || '';\nconst event = d.event || d.type || '';\nconst date  = d.date  || d.timestamp || d.createdAt || d.created_at || '';\n\n// Mapping nom campagne -> UUID\nconst campaignMap = {\n  'conseiller-consultant-acquisition': '69ebb7281762b60a8169f625',\n  'acquisition-agence-marketing':      '69eb1cca5033df0a8663a88e',\n};\nconst campaignName = d.campaign || '';\nconst campaignId   = d.campaign_id || d.campaignId || campaignMap[campaignName] || null;\n\n// event_id deterministe pour idempotence cote CRM\nconst eventId = (email && event && date)\n  ? (email + '_' + event + '_' + date)\n  : null;\n\nreturn [{ json: {\n  event,\n  email,\n  event_id:      eventId,\n  date,\n  subject:       d.subject               || null,\n  preview:       d.preview || d.previewText || null,\n  full_reply:    d.body || d.content || d.text || d.replyContent || d.replyText || null,\n  campaign_id:   campaignId,\n  campaign_name: campaignName,\n  first_name:    d.contact?.firstName    || null,\n  last_name:     d.contact?.lastName     || null,\n  step:          d.step                  || null,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -512
      ],
      "id": "f1e2d3c4-b5a6-9807-edcb-f21345678901",
      "name": "Normalize Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.nana-intelligence.fr/api/webhooks/emelia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -512
      ],
      "id": "d2e3f4a5-b6c7-8901-defa-123456789012",
      "name": "Forward to CRM"
    }
  ],
  "connections": {
    "Emelia Trigger1": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emelia Trigger": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "Forward to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Emelia Trigger": [
      {
        "event": "OPENED",
        "campaign": "conseiller-consultant-acquisition",
        "sender": "jimmy@first-lead.fr",
        "contact": {
          "title": "Directrice",
          "company": "OpenCommunities Consulting",
          "sector": "Services et conseil aux entreprises",
          "city": "Paris",
          "companyWebsite": "",
          "domainemelia": "opencommunities-consulting.fr",
          "firstName": "Marion",
          "lastName": "Hajdenberg",
          "email": "mhajdenberg@opencommunities-consulting.fr"
        },
        "date": "2026-05-24T05:52:57.858Z",
        "step": 0
      }
    ],
    "Normalize Event": [
      {
        "event": "OPENED",
        "email": "mhajdenberg@opencommunities-consulting.fr",
        "event_id": "mhajdenberg@opencommunities-consulting.fr_OPENED_2026-05-24T05:52:57.858Z",
        "date": "2026-05-24T05:52:57.858Z",
        "subject": null,
        "preview": null,
        "campaign_id": "69ebb7281762b60a8169f625",
        "campaign_name": "conseiller-consultant-acquisition",
        "first_name": "Marion",
        "last_name": "Hajdenberg",
        "step": null
      }
    ],
    "Forward to CRM": [
      {
        "status": "duplicate"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ad06fe87d18e2a86240b98a36512cd9e6db26e7d5f188d7c9968c835dfe9f0c"
  }
}